<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Brain\Desktop\watch;C:\Users\Brain\Desktop\watch2;C:\Users\Brain\Desktop\watch3;C:\Users\Brain\Desktop\watch4;C:\Users\Brain\Desktop\watch5;C:\Users\Brain\Desktop\watch6;C:\Users\Brain\Desktop\watch7;C:\Users\Brain\Desktop\watch8;C:\Users\Brain\Desktop\watch9;C:\Users\Brain\Desktop\watch10"/>
    <add key="OutputDir" value="C:\Users\Brain\Desktop\manage"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>