<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Brain\Desktop\watch;C:\Users\Brain\Desktop\watch2"/>
    <add key="OutputDir" value="C:\Users\Brain\Documents\Visual Studio 2015\Projects\AP\ImageService\ImageService\WebApplication2\manage"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>